<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="root">
        first name: <input type="text" v-model='firstName'> <br>
        last name: <input type="text" v-model="lastName"> <br>
        name: <span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false // 关闭生产环境提示
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: 'frank',
                lastName:'123'
            },
            computed:{
                fullName(){
                    return this.firstName + '-' + this.lastName
                }
            }
        })
    </script>
</body>

</html>